extends layout

block content
   h2.page-header Login
    p Please Login using the form below
        if errors
            each error, i in errors
                div.alert.alert-danger #{error.msg}
    form(action="/index", method="post",
    enctype='multipart/form-data')
        .form-group
        label Username
        input.form-control(name='username',type='text',
        placeholder='e.g emma')
        .form-group
        label Password
        input.form-control(name='userpass',type='password',
        placeholder='Enter Passoword')
        input.btn.btn-primary(type='submit',name='submit',value='Login')